<%- include('partials/header') -%>

    <!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<!-- <div class="min-h-full"> -->

  <%- include('partials/menu') -%>


  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
      </div>
    </header>


    <!-- <main id="mainDashboard"> -->


      
      <div class="container mt-5">
        <!-- <div class="row"> -->
            <div class="col-md-4 networkContainer">
      
              <h2>My Networks:</h2>
              <% if(networks.length  < 1) { %>
                <p>You don't have any networks. You can create networks and communities from <a href="/network">here!</a></p>
              <% } %>
              <% for(let i = 0; i < networks.length; i++) { %>
                <a href="/<%=networks[i].name%>/feed">
                <div class="card p-3">
                 
                    <div class="d-flex flex-row mb-3"><img src="<%= networks[i].logo %>" width="70">
                        <div class="d-flex flex-column ml-2"><span><%= networks[i].name %></span><span class="text-black-50"><%= networks[i].slogan %></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6><%= networks[i].about %></h6>
                    <div class="d-flex justify-content-between install mt-3"><span><%= networks[i].numberOfMembers %> members</span>
 
                         <a href="/<%=networks[i].name%>/inviteUser"><span class="text-primary">Invite&nbsp;<i class="fa fa-angle-right"></i></span> </a>

                         <a href="#"><span class="text-primary">Settings&nbsp;<i class="fa fa-angle-right"></i></span> </a>

                         
   
                        <!-- <span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> -->
                     
                    </div>
                    
                </div>
                </a>
                <% } %>
            </div>
          <!-- </div> -->
        </div>


        <div class="container mt-5">
          <!-- <div class="row"> -->
              <div class="col-md-4 networkContainer">
               
                <h2>Member of:</h2>
                <% if(memberOf.length  < 1) { %>
                  <p>You're not a member of any networks. You can either be invited to join networks or join public networks from <a href="#">here!</a></p>
                <% } %>

                <% for(let i = 0; i < memberOf.length; i++) { %>
                  <a href="/<%=memberOf[i].name%>/feed">
                  <div class="card p-3">
                  
                      <div class="d-flex flex-row mb-3"><img src="<%= memberOf[i].logo %>" width="70">
                          <div class="d-flex flex-column ml-2"><span><%= memberOf[i].name %></span><span class="text-black-50"><%= memberOf[i].slogan %></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6><%= memberOf[i].about %></h6>
                      <div class="d-flex justify-content-between install mt-3"><span><%= memberOf[i].numberOfMembers %> members</span>
   
                           <a href="/<%=memberOf[i].name%>/inviteUser"><span class="text-primary">Invite&nbsp;<i class="fa fa-angle-right"></i></span> </a>
                           <a href="#"><span class="text-primary">Leave&nbsp;<i class="fa fa-angle-right"></i></span> </a>
                          <!-- <span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> -->
                       
                      </div>
                  </div>
                </a>
                  <% } %>
              </div>
            <!-- </div> -->
          </div>
       





      <!-- <div> <div class="d-flex flex-row">  -->
        <!-- <div class="col-md-3"> <div class="card card1 p-3">  -->
        <!-- <div class=" image d-flex flex-row align-items-center mt-3"> <img src="https://i.imgur.com/R4afbIg.png" height="50" width="50" /> <span>Clover</span> </div>  -->
        <!-- <hr class="hline"> <div class="d-flex flex-column align-items-center"> <button class="btn mt-3"><i class="fa fa-users"></i><span>Users</span></button> <button class="btn mt-3"><i class="fa fa-inbox"></i><span>Inbox</span></button> <span class="other mt-4">Other Information</span>   -->
          <!-- <button class="btn mt-3"><i class="fa fa-question-circle"></i><span>Dashboard</span></button> -->
         <!-- </div> </div> </div>  -->
      <!-- <div class="col-md-9"> 
        <div class="card card2 p-3"> 
          <div class="hello d-flex justify-content-end align-items-center mt-3"> <span>Hi,Frank Jack</span> </div> <div class="d-flex flex-row gap-3"> 
            
            <% for(let i = 0; i < networks.length; i++) { %>
            <div class="card cardchild mt-3 p-2 px-3 py-3"> 
              <div class="d-flex p-2 mt-2 justify-content-between rounded"> 
            <div class="d-flex flex-column">
              <span class="type"><%= networks[i].name %></span><span class="number"><%= networks[i].slogan %></span>
            </div> 
            <div class="d-flex flex-column"><img src="<%= networks[i].image %>" alt="logo" class="logo1" height="40" width="40" /><span class="percentage">45%</span>
            </div> 
          </div> 
        </div> 
        <% } %> -->



            <!-- <div class="card cardchild mt-3 p-2 px-3 py-3"> <div class="d-flex p-2 mt-2 justify-content-between rounded"> <div class="d-flex flex-column"><span class="type">Mild</span><span class="number">120</span></div> <div class="d-flex flex-column"><img src="https://i.imgur.com/7SEdq7z.png" class="logo2" height="40" width="40" /><span class="percentage2">25%</span></div> </div> </div> <div class="card cardchild mt-3 p-2 px-3 py-3"> <div class="d-flex p-2 mt-2 justify-content-between rounded"> <div class="d-flex flex-column"><span class="type">Moderate</span><span class="number">25</span></div> <div class="d-flex flex-column"><img src="https://i.imgur.com/xvUzRjK.png" class="logo3" height="40" width="40" /><span class="percentage3">17%</span></div> </div> </div> <div class="card cardchild mt-3 p-2 px-3 py-3"> <div class="d-flex p-2 mt-2 justify-content-between rounded"> <div class="d-flex flex-column"><span class="type">Severe</span><span class="number">5</span></div> <div class="d-flex flex-column"><img src=" https://i.imgur.com/iLU5F9A.png" class="logo4" height="40" width="40" /><span class="percentage4">13%</span></div> </div> </div> </div> 
              <div class="d-flex justify-content-center mt-5 gap-2 p-3"> <div class="col-md-6"> <div class="card cardchildchild p-2"> <div class="profile1"> <img src="https://i.imgur.com/NI5b1NX.jpg" height="90" width="90" class="rounded-circle" /> </div> <div class="d-flex flex-column justify-content-center align-items-center mt-5"> <span class="name">Bess Wills</span> <span class="mt-1 braceletid">Bracelet ID:SFG 38393</span> <span class="dummytext mt-3 p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text elit more smtit.Kimto lee. </span> </div> <div class="d-flex justify-content-center align-items-center mt-3"> <button class="btn1">Next Appoinment</button> </div> <div class=" icons d-flex flex-row justify-content-center gap-3 mt-4"> <span><i class="fa fa-google"></i></span> <span><i class="fa fa-facebook"></i></span> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-instagram"></i></span> </div> </div> </div> <div class="col-md-6"> <div class="card cardchildchild p-2"> <div class="profile1"> <img src="https://i.imgur.com/YyoCGsa.jpg" height="90" width="90" class="rounded-circle" /> </div> <div class="d-flex flex-column justify-content-center align-items-center mt-5"> <span class="name">Bess Wills</span> <span class="mt-1 braceletid">Bracelet ID:SFG 38393</span> <span class="dummytext mt-3 p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text elit more smtit.Kimto lee. </span> </div> <div class="d-flex justify-content-center align-items-center mt-3"> <button class="btn2">Next Appoinment</button> </div> <div class=" icons d-flex flex-row justify-content-center gap-3 mt-4"> <span><i class="fa fa-google"></i></span> <span><i class="fa fa-facebook"></i></span> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-instagram"></i></span> </div> </div> </div> </div> </div> </div> </div> -->
<!-- </div> -->





      <!-- <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
       
        <div class="px-4 py-6 sm:px-0">
            
          <div class="h-96 rounded-lg border-4 border-dashed border-gray-200">

          
            <div class="container box ">
                <ul>
                    <li class="dashboardList"><%= user.userName %></li>
                    <li class="dashboardList"><%=user.email%></li>
                    <li class="dashboardList networks">My networks
                       <ul class="networkBoxUl">
                        <% for(let i = 0; i < networks.length; i++) { %>
                         <li class="dashboardList networkBoxLi col-6 justify-content-between mt-5">
                         
                            <div class="networkBox">
                              <h2><%= networks[i].name %></h2>
                              <h2><%= networks[i].slogan %></h2>
                              <img class="image-fluid" src="<%= networks[i].image %>" alt="logo">
                            </div>
                          
                        </li>
                    <% } %>
                    </ul>
                    </li>
                
                   
                
                </ul>
              
               
            </div>
     
        
          </div>
        </div>
        
      </div> -->

      <!-- <div class=" flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
          <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
              Or
              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">start your 14-day free trial</a>
            </p>
          </div>
          <form class="mt-8 space-y-6" action="/login" method="POST">
            <input type="hidden" name="remember" value="true">
            <div class="-space-y-px rounded-md shadow-sm">
              <div>
                <label for="email-address" class="sr-only">Email address</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Email address">
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Password">
              </div>
            </div>
      
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
              </div>
      
              <div class="text-sm">
                <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
              </div>
            </div>
      
            <div>
              <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                   Heroicon name: mini/lock-closed -->
                  <!-- <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                </span>
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div> --> 

    <!-- </main> -->
  <!-- </div> -->

  
<%- include('partials/footer') -%>







