<%- include('partials/header') -%>

    <!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<!-- <div class="min-h-full"> -->

  <%- include('partials/menu') -%>


  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">My Networks</h1>
      </div>
    </header>


    <!-- <main id="mainDashboard"> -->


      
      <div class="container mt-5">
        <!-- <div class="row"> -->
            <div class="col-md-4 networkContainer">
      
              <h2>My Networks:</h2>
              <% if(networks.length  < 1) { %>
                <p>You don't have any networks. You can create networks and communities from <a class="text-primary" href="/networks/create">here!</a></p>
              <% } %>
              <% for(let i = 0; i < networks.length; i++) { %>
                <a href="/<%=networks[i].name%>/feed">
                <div class="card p-3">
                 
                    <div class="d-flex flex-row mb-3"><img src="<%= networks[i].logo %>" width="70">
                        <div class="d-flex flex-column ml-2"><span><%= networks[i].name %></span><span class="text-black-50"><%= networks[i].slogan %></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6><%= networks[i].about %></h6>
                    <div class="d-flex justify-content-between install mt-3"><span><%= networks[i].numberOfMembers %> members</span>
 
                         <a href="/invite/<%=networks[i].name%>"><span class="text-primary">Invite&nbsp;<i class="fa fa-angle-right"></i></span> </a>

                         <a href="/<%= networks[i].name %>/settings/network"><span class="text-primary">Settings&nbsp;<i class="fa fa-angle-right"></i></span> </a>

                         
   
                        <!-- <span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> -->
                     
                    </div>
                    
                </div>
                </a>
                <% } %>
            </div>
          <!-- </div> -->
        </div>


        <div class="container mt-5">
          <!-- <div class="row"> -->
              <div class="col-md-4 networkContainer">
               
                <h2>Member of:</h2>
                <% if(memberOf.length  < 1) { %>
                  <p>You're not a member of any networks. You can either be invited to join networks or join public networks from <a class="text-primary" href="/networks">here!</a></p>
                <% } %>

                <% for(let i = 0; i < memberOf.length; i++) { %>
                  <a href="/<%=memberOf[i].name%>/feed">
                  <div class="card p-3">
                  
                      <div class="d-flex flex-row mb-3"><img src="<%= memberOf[i].logo %>" width="70">
                          <div class="d-flex flex-column ml-2"><span><%= memberOf[i].name %></span><span class="text-black-50"><%= memberOf[i].slogan %></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6><%= memberOf[i].about %></h6>
                      <div class="d-flex justify-content-between install mt-3"><span><%= memberOf[i].numberOfMembers %> members</span>
   
                           <a href="/invite/<%=memberOf[i].name%>"><span class="text-primary">Invite&nbsp;<i class="fa fa-angle-right"></i></span> </a>
                           <a href="#"><span class="text-primary">Leave&nbsp;<i class="fa fa-angle-right"></i></span> </a>
                          <!-- <span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> -->
                       
                      </div>
                  </div>
                </a>
                  <% } %>
              </div>
            <!-- </div> -->
          </div>
       





    

  
<%- include('partials/footer') -%>







