<%- include('partials/header') -%>

    <!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<!-- <div class="min-h-full"> -->

  <%- include('partials/menu') -%>


  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">My Networks</h1>
      </div>
    </header>


    <main id="mainDashboard">
        <div class="container mt-5">
          <!-- <div class="row"> -->
              <div class="col-md-4  networkContainer">
               
                <!-- <h2>Member of:</h2> -->
                <% if(memberOf.length < 1) { %>
                  <p>You're not a member of any networks. You can either be invited to join networks, join public networks from <a class="text-primary" href="/network">here</a> or <a class="text-primary" href="/network/create">create</a> one!</p>
                <% } %>

                <% for(let i = 0; i < memberOf.length; i++) { %>
               
  
                  <a href="/<%=memberOf[i].name%>/feed">
                    <% if(memberOf[i].createdBy == user.id) {%>
                      <span class="bg-secondary p-1 px-4 rounded text-white">Creator</span>
                    <% } %>
                  <div class="card p-3">
                    
    
                      <div class="d-flex flex-row mb-3"><img src="<%= memberOf[i].logo %>" width="70">
                      
                          <div class="d-flex flex-column ml-2">
                            
                            <span><%= memberOf[i].name %></span><span class="text-black-50"><%= memberOf[i].slogan %></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6><%= memberOf[i].about %></h6>
                      <div class="d-flex justify-content-between install mt-3">
                       
                        <a href="/network/<%= memberOf[i].name %>/members">
                          <% if(memberOf[i].members.length < 2) { %>
                          <span><%= memberOf[i].members.length %> member</span>
                          <% } else { %>
                            <span><%= memberOf[i].members.length %> members</span>
                          <% } %>
                        </a>
                 
                        
                           <a href="/invite/<%=memberOf[i].name%>"><span class="text-primary">Invite&nbsp;<i class="fa fa-angle-right"></i></span> </a>

                           <% if(memberOf[i].createdBy != user.id) { %>
                           <form action="/network/<%= memberOf[i].name %>/leave" method="POST">
                            <button><span class="text-primary">Leave&nbsp;<i class="fa fa-angle-right"></i></span> </button>
                           </form>
                           <% } %>
                           
                          <!-- <span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> -->
                       
                      </div>
                  </div>
                </a>

                  <% } %>
              </div>
            <!-- </div> -->
          </div>

          </main>
       





    

  
<%- include('partials/footer') -%>







