<%- include('partials/header') -%>
<%- include('partials/menu') -%>
<!-- <main class="main mainFeed"></main> -->



<header class="bg-white shadow feedHeader">

  <% if (locals.general) { %>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 networkDashInfoFeed">
    
      <div>
      <img src="#" alt="logo">
      <!-- <span>members: <%= network.numberOfMembers %></span> -->
      <span></span>
      </div>
  
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">General Feed</h1>
     
    </div>
  <% } else { %>

    <% for(let i = 0; i < network.length; i++) { %>

  <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 networkDashInfoFeed">
    
    <div class="networkLogoContainer">
    <img src="<%= network.logo %>" alt="logo">
    <a href="/network/<%= network.name %>/members"><span>members: <%= network.numberOfMembers %></span></a>
    <span></span>
    </div>

    <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= network.name %></h1>
   
  </div>
  <% } %>

  <% } %>
</header>


 
  
  














<script src="/js/postForm.js"></script>

<%- include('partials/footer') -%>