<%- include('partials/header') -%>
<%- include('partials/menu') -%>
<!-- <main class="main mainFeed"></main> -->



<header class="bg-white shadow feedHeader">

  <% if (locals.general) { %>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 networkDashInfoFeed">
    
      <div>
      <img src="#" alt="logo">
      <!-- <span>members: <%= network.numberOfMembers %></span> -->
      <span></span>
      </div>
  
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">General Feed</h1>
     
    </div>
  <% } else { %>


  <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 networkDashInfoFeed">
    
    <div class="networkLogoContainer">
    <img src="<%= network.logo %>" alt="logo">
    <a href="/network/<%= network.name %>/members"><span>members: <%= network.numberOfMembers %></span></a>
    <span></span>
    </div>

    <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= network.name %></h1>
   
  </div>
  <% } %>
</header>


 
  
  <div class="suggestionBox">
    <% if(members.length > 1) { %>
    <h3 class="text-1xl font-bold tracking-tight text-gray-400">People in <%= network.name %> you might know</h3>
    <% } %>
    <ul>
        
        <% for(let i = 0; i < members.length; i++) { %>
          <% if(members[i]._id == user.id) { %>
            <% continue %>
          <% } %>
        <li class="suggestion"> <a href="/<%= members[i].userName %>/profile"><div><img src="http://placekitten.com/g/50/50" alt="pic" width="50" height="50"><h3><%= members[i].name %></h3><span>username: <%= members[i].userName %></span></div></a></li>
          <% } %>
    </ul>
</div>


<div class="container mt-5 mb-5">
 
  <div class="row d-flex formAndPostsBox">

    <%- include('partials/post') -%>


      <div class="col-md-6" id="feedBox">
         
       
          <% for(let i = 0; i < posts.length; i++) { %>
            
     

           
          <div class="card cardFeed">

            <a href="/<%= hashMap[posts[i].user].userName %>/profile">
              <div class="d-flex justify-content-between p-2 px-3">
                  <div class="d-flex flex-row align-items-center"> 
                    <% if(hashMap[posts[i].user].image) { %>
                      <img src="<%= hashMap[posts[i].user].image %>" width="50" class="rounded-circle">
                    <% } else { %>
                    <img src="https://place-puppy.com/50x50" width="50" class="rounded-circle">
                    <% } %>
                      <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><%= hashMap[posts[i].user].name %></span> <small class="text-primary"><%= hashMap[posts[i].user].userName %></small> </div>
                  </div>
              
               
                  <!-- <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">20 mins</small> <i class="fa fa-ellipsis-h"></i> </div> -->
              </div> <img src="<%= posts[i].image %>" class="img-fluid postImage">
              </a>


              <a href="/post/<%= posts[i]._id %>">
              <div class="p-2">
                  <h3 class="postTitle"><%= posts[i].title %></h3>
                  <p class="text-justify postContent"><%= posts[i].caption %></p>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">

                      <div class="d-flex flex-row icons d-flex align-items-center"> 

                        <form action="/post/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">

                       
                            <!-- <button class="likeIconPost" >  
                              <i class="btn fa fa-heart"  style="color: red"></i>                  
                            </button> -->
                        
                            
                          <button class="btn likeIconPost fa fa-heart">
                            <!-- <i class="fa fa-heart"></i>  -->
                          </button>

                          <!-- used to be occupied by closing bracket for loop -->
               

                        </form>
                        
                        
                        <!-- <i class="fa fa-smile-o ml-2"></i> -->
                      </div>

                     


                      <div class="d-flex flex-row muted-color"> <span>2 comments</span> 
                        <!-- <span class="ml-2">Share</span>  -->
                      </div>

                      <div class="d-flex flex-row icons d-flex align-items-center">
                        <%if(posts[i].user==user.id){ %>
                          <form action="/post/deletePost/<%=posts[i]._id%>?_method=DELETE" method="POST" class="col-3">
                            <button class="btn fa fa-trash trashIconPost" type="submit"></button>
                          </form>
                          <%}%>
                        </div>


                  </div>
                  <hr>
                  <!-- <div class="comments">
                    
                      <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/9AZ2QX1.jpg" width="40" class="rounded-image">
        
                     
                          <div class="d-flex flex-column ml-2"> <span class="name">Daniel Frozer</span> <small class="comment-text"></small>
                              <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>18 mins</small> </div>
                          </div>
                     
                      </div>
                      <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/1YrCKa1.jpg" width="40" class="rounded-image">
                          <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text"></small>
                              <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>8 mins</small> </div>
                          </div>
                      </div>
                      <div class="comment-input"> <input type="text" class="form-control">
                          <div class="fonts"> <i class="fa fa-camera"></i> </div>
                      </div>
                  </div> -->
              </div>
              </a>


          </div>
         
          
          <% } %>
      </div>
  </div>
</div>

<script src="/js/postForm.js"></script>

<%- include('partials/footer') -%>