<%- include('partials/header') -%>
<%- include('partials/menu') -%>

  

  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 notifications-h1">Notifications</h1>
    </div>
  </header>
 


<% var userNetworks = user.networks %>
<div class="container mt-5">
  <!-- <div class="row"> -->
      <div class="col-md-4 networkContainer">
        <% if (!network && !messages) { %>
          <p>You don't have any notifications.</p>
        <% } %>
        <h2>Your notifications</h2>
        <% for(let i = 0; i < network.length; i++) { %>
          <div class="card p-3">
               
              <div class="d-flex flex-row mb-3"><img src="<%= network[i].logo %>" width="70">
                  <div class="d-flex flex-column ml-2"><span>Invitation to: <%= network[i].name %></span><span class="text-black-50"><%= network[i].slogan %></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6><%= network[i].about %></h6>
              <div class="d-flex justify-content-between install mt-3"><span><%= network[i].members.length %> members</span>
         

                    <!-- <span class="text-primary">Joined&nbsp;<i class="fa fa-angle-right"></i></span>
                    <span>hiii</span> -->
                  

                   <form action="/invite/<%=network[i].name%>/accept?_method=PUT" method="post">
                    <button><span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span></button>
                </form>

                <form action="/invite/<%=network[i].name%>/decline?method_DELETE" method="post">
                    <button><span class="text-primary">Decline&nbsp;<i class="fa fa-angle-right"></i></span></button>
                </form>
       
                   <!-- <a href="/<%=network[i].name%>/acceptInvitation"><span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> </a> -->

                  <!-- <span class="text-primary">Accept&nbsp;<i class="fa fa-angle-right"></i></span> -->
               
              </div>
          </div>
          <% } %>
      </div>






      <div class="col-md-4 networkContainer">
        <% for(let i = 0; i < messages.length; i++) { %>
          <div class="card p-3">
               
              <div class="d-flex flex-row mb-3">
                <% if(senders[i].image == '') { %>
                <img src="/imgs/doggy.png" alt="profile pic">
                <% } else { %>   
                <img src="<%= senders[i].image %>" width="70">
                <% } %>
                  <div class="d-flex flex-column ml-2"><span>Message from: <%= senders[i].name %></span><span class="text-black-50"><%= senders[i].userName %></span></div>
              </div>
              <h6><%= messages[i].message %></h6>
              <div class="d-flex justify-content-between install mt-3">
                <a href="/message/<%= senders[i].userName %>"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a>
              </div>
          </div>
          <% } %>
      </div>
    <!-- </div> -->
  </div>




<%- include('partials/footer') -%>