<%- include('partials/header') -%>
<%- include('partials/menu') -%>



<header class="bg-white shadow commentPageHeader">
  <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
    <% if(poster.image) { %>
    <img src="<%= poster.image %>" alt="profile pic">
    <% } else { %> 
      <img src="https://placekitten.com/g/100/100" alt="profile pic">
    <% } %>

    <div>
    <span><%= poster.name %></span>
    <span>username: <%= poster.userName %></span>
    <span>likes: <%= post.likes %></span>

    <div class="commentPageIcons">
      <form
      class="col-1"
      action="/post/likePost/<%= post._id %>?_method=PUT"
      method="POST"
    >
      <button class="btn btn-primary fa fa-heart" type="submit"></button>
    </form>
  
    <form
    action="/post/deletePost/<%= post._id %>?_method=DELETE"
    method="POST"
    class="col-3"
  >
    <button class="btn btn-primary fa fa-trash" type="submit"></button>
  </form>
    </div>
 
    </div>

  </div>

  <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= post.title %></h1>

  </div>
</header>

<!-- <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
  <p class="text1 "><%= post.caption %></p>
</div> -->

<!-- <div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div> -->
    <!-- <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div> -->

<!-- 
    <h2>Add Comment</h2>
    <div>
      <form action="/<%= post.id %>/comments/createComment" method="POST" class="col-3">
        <input type="text" name="comment" required>
        <button class="btn btn-primary" type="submit">Comment</button>
      </form>
    </div> -->
    <!-- <ul>
      <% for (let i=0; i < comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%=comments[i].comment%>
            <%if(comments[i].user==user.id){ %>
              <form action="/comment/deleteComment/<%=comments[i]._id%>?_method=DELETE" method="POST" class="col-3">
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
              <%}%>
                <%}%>
        </li>
    </ul> -->

    
    <!-- <div class="col-6 mt-5"> -->
      <!-- <a class="btn btn-primary" href="/profile">Return to Profile</a> -->
      <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
    <!-- </div> -->


  <!-- </div>
</div> -->


<div class="container justify-content-center mt-5 border-left border-right" id="commentSectionContainer">


  <div class="d-flex justify-content-between p-2 px-3" id="postBoxCommentSection">
    <div class="d-flex flex-row align-items-center">
       <!-- <img src="https://i.imgur.com/UXdKE3o.jpg" width="50" class="rounded-circle"> -->
        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><%= post.caption %> </span> 
          <!-- <small class="text-primary">Collegues</small>  -->
        </div>
    </div>
  
  
    <div class="d-flex flex-row mt-1 ellipsis"> 
      <!-- <small class="mr-2">20 mins</small> 
      <i class="fa fa-ellipsis-h"></i>  -->
    </div>
  </div> 
  
  <!-- <img src="" class="img-fluid postImage"> -->



  <div class="d-flex justify-content-center pt-3 pb-2"> 
    <form action="/comment/createComment/<%= post._id %>" method="POST" id="commentForm"><input type="text" name="comment" placeholder="+ Add a note" required class="form-control addtxt"></form>
  </div>

  <% for(let i = 0; i < comments.length; i++) { %>
  <div class="d-flex justify-content-center py-2">
      <div class="second py-2 px-2"> <p class="text1"><%= comments[i].comment %></p>
          <div class="d-flex justify-content-between py-1 pt-2">
            
              <div >
                <a href="<%= commenters[comments[i].user].name %>/profile" class="commenterProfilePic">
                <% if(commenters[comments[i].user].image) { %>
                <img src="<%= commenters[comments[i].user].image %>" width="18" alt="profile pic">
                <% } %>
                <img src="https://i.imgur.com/tPvlEdq.jpg" width="18" alt="profile pic">
                <span class="text2"><%= commenters[comments[i].user].name %></span>
                </a>
              </div>



              <div>
                <!-- <span class="text3">Upvote?</span>
                <span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span> -->
                <span class="text4"><%= comments[i].likes %></span>
              </div>
              
          </div>


          <div class="d-flex justify-content-end">
            <form action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT" method="POST">
              <button class="btn likeIconPost fa fa-heart">
              </button>
              </form>
              </div>



      </div>
  </div>
  <% } %>

</div>










<!-- <div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2"> -->
                  <!-- <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                  </div> -->


                  <!-- <div class="d-flex flex-row user-info">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"></span><span class="date text-black-50"> </span></div>
                  </div>

                  <div class="mt-2">
                      <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                  </div>
              </div>
              <div class="bg-light p-2">
                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                  <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<!-- <script src="/js/commentForm.js" ></script> -->

<%- include('partials/footer') -%>
