<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>


    <h2>Add Comment</h2>
    <div>
      <form action="/<%= post.id %>/comments/createComment" method="POST" class="col-3">
        <input type="text" name="comment" required>
        <button class="btn btn-primary" type="submit">Comment</button>
      </form>
    </div>
    <ul>
      <% for (let i=0; i < comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%=comments[i].comment%>
            <%if(comments[i].user==user.id){ %>
              <form action="/comment/deleteComment/<%=comments[i]._id%>?_method=DELETE" method="POST" class="col-3">
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
              <%}%>
                <%}%>
        </li>
    </ul>

    
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>





<div class="container mt-5 mb-5">
 
  <div class="row d-flex  ">
      <div class="col-md-6">
      
       
       

           
          <div class="card cardFeed">

            <a href="">
              <div class="d-flex justify-content-between p-2 px-3">
                  <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/UXdKE3o.jpg" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><%= %></span> <small class="text-primary">Collegues</small> </div>
                  </div>
              
               
                  <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">20 mins</small> <i class="fa fa-ellipsis-h"></i> </div>
              </div> <img src="" class="img-fluid postImage">
              </a>

              <div class="p-2">
                  <h3><%=  %></h3>
                  <p class="text-justify"><%=  %></p>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row icons d-flex align-items-center"> <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i> </div>
                      <div class="d-flex flex-row muted-color"> <span>2 comments</span> <span class="ml-2">Share</span> </div>
                  </div>
                  <hr>
                  <div class="comments">
                      <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/9AZ2QX1.jpg" width="40" class="rounded-image">
                          <div class="d-flex flex-column ml-2"> <span class="name">Daniel Frozer</span> <small class="comment-text">I like this alot! thanks alot</small>
                              <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>18 mins</small> </div>
                          </div>
                      </div>
                      <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/1YrCKa1.jpg" width="40" class="rounded-image">
                          <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text">Thanks for sharing!</small>
                              <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>8 mins</small> </div>
                          </div>
                      </div>
                      <div class="comment-input"> <input type="text" class="form-control">
                          <div class="fonts"> <i class="fa fa-camera"></i> </div>
                      </div>
                  </div>
              </div>
          </div>
      
      </div>
  </div>
</div>





<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2">
                  <!-- <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                  </div> -->


                  <div class="d-flex flex-row user-info">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"></span><span class="date text-black-50"> </span></div>
                  </div>

                  <div class="mt-2">
                      <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                  </div>
              </div>
              <div class="bg-light p-2">
                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                  <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
              </div>
          </div>
      </div>
  </div>
</div>

<%- include('partials/footer') -%>
