<%- include('partials/header') -%>
<%- include('partials/menu') -%>


<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Profile</h1>
  </div>
</header>

<main class="mainContainerProfile">
<div class="container mt-5">
    
  <div class="row d-flex justify-content-center">
      
      <div class="col-md-7">
          
          <div class="card p-3 py-4">
              
              <div class="text-center">
                <% if(profile.image) { %>
                  <img src="<%= profile.image %>" alt="profile pic">
                <% } %>
                  <img src="/imgs/favicon-32x32.png" width="100" class="rounded-circle">
              </div>
              
              <div class="text-center mt-3">
                <% if(user.id == profile._id) { %>
                  <span class="bg-secondary p-1 px-4 rounded text-white">You</span>
                <% } %>
                  <h4 class="mt-2 mb-0"><%= profile.name %></h4>
                  <h5 class="mt-2 mb-0">username: <%= profile.userName %></h5>
                  <span>followers <%= profile.followers.length %></span>
                  <span>following <%= profile.following.length %></span>
                  
                  <div class="px-4 mt-1">
                      <p class="fonts"><%= profile.bio %></p>
                  
                  </div>
                  
                   <!-- <ul class="social-list">
                      <li><i class="fa fa-facebook"></i></li>
                      <li><i class="fa fa-dribbble"></i></li>
                      <li><i class="fa fa-instagram"></i></li>
                      <li><i class="fa fa-linkedin"></i></li>
                      <li><i class="fa fa-google"></i></li>
                  </ul> -->
                  
                  <div class="buttons">
                    <% if (user.id == profile._id) { %>
                      <button class="btn btn-outline-primary px-4 editButton">Edit</button>
                      <% } %>

                      <% if(user.id != profile._id) { %>
                      <form action=""></form>
                      <button class="btn btn-outline-primary px-4">Message</button>
                        <% } %>
                    
                        <% if(!locals.isFollower && user.id != profile._id) { %>
                      <form  class="buttons" action="/<%= profile.userName %>/follow" method="post">
                     <button class="btn btn-outline-primary px-4 ">Follow</button>
                    </form>
                      <% } %>
                    
                      <% if(locals.isFollower) { %>
                      <form  class="buttons" action="/<%= profile.userName %>/unfollow" method="post">
                        <button class="unfollowButton btn btn-primary px-4 ms-3">Unfollow</button>
                        </form>
                        <% } %>

                  </div>
                  
                  
              </div>
              
             
              
              
          </div>
          
      </div>
      
  </div>
  
</div>
















<!-- <main id="mainProfile"> -->

  




<!-- <div class="container">
  <div class="row mt-5"> -->
      <!-- <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>

          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form> 
      </div> -->



      <div class="container mt-5 mb-5">
 
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">

      
                <% for(let i = 0; i < posts.length; i++) { %>
                <div class="card cardFeed">
                    <div class="d-flex justify-content-between p-2 px-3">
                        <div class="d-flex flex-row align-items-center"> 
                          <% if(profile.image) { %>
                          <img src="<%= profile.image %>" width="50" class="rounded-circle">
                          <% } else { %>
                            <img src="https://place-puppy.com/50x50" width="50" class="rounded-circle">
                          <% } %>
                            <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><%= profile.name %></span> <small class="text-primary"><%= profile.userName %></small> </div>
                        </div>


                        <!-- <div class="d-flex flex-row mt-1 ellipsis"> 
                          <small class="mr-2">20 mins</small> 
                          <i class="fa fa-ellipsis-h"></i> </div> -->

                    </div> <img src="<%= posts[i].image %>" class="img-fluid postImage">

                    <a href="/post/<%= posts[i]._id %>">
                    <div class="p-2">
                        <h3><%= posts[i].title %></h3>
                        <p class="text-justify"><%= posts[i].caption %></p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="d-flex flex-row icons d-flex align-items-center"> 
                              <form action="/post/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">
                                <button class="btn likeIconPost fa fa-heart">
                                  <!-- <i class="fa fa-heart"></i>  -->
                                </button>
                              </form>
                            </div>

                            <div class="d-flex flex-row muted-color"> <span>2 comments</span> 
                              <!-- <span class="ml-2">Share</span>  -->
                            </div>

                            <div class="d-flex flex-row icons d-flex align-items-center">
                              <%if(posts[i].user==user.id){ %>
                                <form action="/post/deletePost/<%=posts[i]._id%>?_method=DELETE" method="POST" class="col-3">
                                  <button class="btn fa fa-trash trashIconPost" type="submit"></button>
                                </form>
                                <%}%>
                              </div>


                            
                            </div>
                        <hr>

                    </div>
                    </a>

                </div>
                <% } %>

            </div>
        </div>
      </div>


      <!-- <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div> -->

</main>




<div class="container mt-3 editProfileForm hidden" id="profileForm">
  <div class="card p-3 text-center">
    <form action="/settings/user/save?_method=PUT" method="POST">
      <div class="d-flex flex-row justify-content-center mb-3">
          <div class="image"> 
            <% if(!user.image) { %>
              <img src="https://placekitten.com/g/100/100" width="100" height="100" class="rounded-circle">
              <% } %>
            <img src="<%= user.image %>" class="rounded-circle"> 
            <!-- <span><i class='bx bxs-camera-plus'></i></span>  -->
          </div>
          <!-- <div class="d-flex flex-column ms-3 user-details">
              <h4 class="mb-0">Zenda Grace</h4>
              <div class="ratings"> <span>4.0</span> <i class='bx bx-star ms-1'></i> </div> <span>Pro Member</span>
          </div> -->
      </div>
      <h4>Edit Profile</h4>
      <div class="row">
          <div class="col-md-12">
              <div class="inputs"> <label>Name</label> <input class="form-control" type="text" placeholder="<%= user.name %>" name="name"> </div>
          </div>
          <!-- <div class="col-md-6">
              <div class="inputs"> <label>Email</label> <input class="form-control" type="text" placeholder="Email"> </div>
          </div> --> 
      </div>


      <div class="mb-3">
        <label for="imgUpload" class="form-label">Profile Picture (optional)</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>


      <div class="row">
          <div class="col-md-12">
          <% if(!user.bio) { %>
              <div class="about-inputs"> <label>Bio</label> <textarea class="form-control" type="text" placeholder="Tell us about yourself" name="bio"> </textarea> </div>
           <% } else { %>
            <div class="about-inputs"> <label>Bio</label> <textarea class="form-control" type="text" placeholder="<%= user.bio %>" name="bio"> </textarea> </div>
            <% } %>
          </div>
      </div>



      <div class="mt-3 gap-2 d-flex justify-content-end">   <button class="px-3 btn btn-sm btn-primary submitButton">Save</button> </div>
    </form>
    <div class="mt-3 gap-2 d-flex justify-content-end"> <button class="px-3 btn btn-sm btn-outline-primary cancelButton">Cancel</button> 
  </div>
</div>







<script src="/js/main.js"></script>

<%- include('partials/footer') -%>